<h1>Editing Sorority Chapter</h1>

<%= render 'form' %>

<%= link_to 'Back', universities_path %>
<%= link_to 'Destroy', sorority_chapter_path(@chapter), method: :delete, :data => {:confirm => 'Are you sure?'} %>