<div class="progress-label">Overall:</div>
<div class="progress-label">Looks:</div>
<div class="progress-label">Popularity:</div>
<div class="progress-label">Classiness:</div>
<div class="progress-label">Involvement:</div>
<div class="progress-label">Social Life:</div>
<div class="progress-label"><%= "#{@unity_name}:" %></div>