<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="btn-group btn-group-justified">
          <%= render "shared/uni_category_buttons" %>
        </div>
      </div>
      <div class="panel-body">
        <%= render category_panel_body %>
      </div>
    </div>
  </div>
</div>