<div style="float:left; margin-right: 15px">
  <%= button_to "Overview", university_path(@university), method: 'get', class: 'btn btn-mini' %>
</div>
<div style="float:left; margin-right: 15px">
  <%= button_to "Discussion", '#', class: 'btn btn-mini'%>
</div>
<div style="float:left; margin-right: 15px">
  <%= button_to "Fraternities", '#', class: 'btn btn-mini' %>
</div>
<div style="float:left; margin-right: 15px">
  <%= button_to "Sororities", '#', class: 'btn btn-mini' %>
</div>
<div style="clear:both;"></div>