
<%= render "shared/uni_category_buttons" %>

<h3><%= "#{@topic.subject}" %></h3>

<% @topic.posts.each do |post| %>
  <%= "By: #{post.nick_name}" %>
  <br>
  <%= "Message: #{post.message}" %>
<% end %>
