<h3><%= @university.name %></h3>
<%= "Total Fraternities: #{@fraternity_chapter_count}" %><br>
<%= "Total Sororities: #{@sorority_chapter_count}" %><br>
<%= "Total Discussions: #{@discussion_count}"%><br>