<% content_for :sidebar do %>
  <h3>SIDEBAR</h3>
<% end %>

<%= render "shared/uni_category_buttons" %>
<h3><%= @university.name %></h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="3">Top 5 Fraternity Rankings</th>
    </tr>
  </thead>

  <tbody>
    <% @fraternity_chapters.each do |chapter| %>
      <tr>
        <td><%= link_to "#{chapter.fraternity.name} - #{chapter.fraternity.letters}", 
                        fraternity_chapter_path(chapter) %></td>
    <% end %>
  </tbody>
</table>

<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="3">Top 5 Sorority Rankings</th>
    </tr>
  </thead>

  <tbody>
    <% @sorority_chapters.each do |chapter| %>
      <tr>
        <td><%= link_to "#{chapter.sorority.name} - #{chapter.sorority.letters}", 
                        sorority_chapter_path(chapter) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
