<div class="spacer50"></div>
<div class="well well-sm">
  <h4 class="text-center">Recent Posts</h4>
  <ul>
    <% @posts.each do |post| %>
      <li><%= link_to truncate_sidebar_link(post.title), "#{post.url}" %></li>
      <hr>
    <% end %>
  </ul>
</div>